@import "bootstrap";
@import "bootstrap-responsive";

/*@grayLight: #999;

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background_size{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

/* universal */

html{
	overflow-y: scroll;
	padding-top:1cm; 
}

body{
	color: #FFF;
	background-image: image-url("background.jpg");
	@include background_size;
	padding-top: 60px;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	color: FFF;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {

	font-size: 1.1em;
	line-height: 1.7em;
}
/* header */
.navbar-inverse .navbar-inner {
  background-color: rgba(15,15,15,0.8);
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  margin: 0 auto;
  height: 58px;
  ul{
	list-style: none;
	margin: 0;
	padding: 0;
  li{
  	padding-top: 10px;
  	margin: 0;
  	text-align: center;
  	font-size: 15px;
  	position: relative;
  	display: inline-block;
  	a{
  		display: inline-block;
  		padding: 5px;
  		margin: 5px 5px 0 0;
  		@include border-radius(5px);
  	&:hover{
  	background: #000;
  };
  	}
  }
  }
}

.navbar-search{
	padding-top: 10px;
	padding-right: 50px;
}

.navbar {
	.pull-right{
	padding-top: 10px;
	font-size: 15px;
}
}

/* hero Unit */

.hero-unit{
	background: #464646;
	color: #fff;
	h1{
		span{
			color: #F5821F;
		}
	}

}

#main-container{
    background:rgba(21,21,21,0.84);
    border-radius:3px;
	-moz-border-radius:3px 30px 3px 3px; 
	-webkit-border-radius:3px 3px 3px 3px; 
  }

/* Item Custom */
@mixin reset{
	margin: 0;
	padding: 0;
}
#items{
  width: 100%;
  margin: 0 0;
  overflow: auto;
  @include reset;
}
.item-icon{
	height: 64px;
	width: 64px;
}
#item-list{
	list-style-type: none;
	background-color: #FFF;
	li img{
		float: left;
		margin: 10px;
		border: 5px solid #fff;
		-webkit-transition: box-shadow 0.5s ease;
  		-moz-transition: box-shadow 0.5s ease;
 		-o-transition: box-shadow 0.5s ease;
 		-ms-transition: box-shadow 0.5s ease;
  		transition: box-shadow 0.5s ease;
  		&:hover{
  			-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  			box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  		};
	}
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;;
	letter-spacing: -1px;
	padding-top: 2px;
	font-weight: bold;
	line-height: 1;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a{
		color: $gray;
		&:hover{
			color: $grayDarker;
		}
	}
	small{
		float: left;	
	}
	ul{
		float: right;
		list-style: none;
		li{
			float: left;
			margin-left: 10px;
		}
	}
}

/* sidebar */

aside{
	section{
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child{
			border: 0;
			padding-top: 0;
		}
		span{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.stats{
	overflow: auto;
	a{
		float: left;
		padding: 0 10px;
		border-left: 1px solid $grayLighter;
		color: gray;
		&:first-child{
			padding-left: 0;
			border: 0;
		}
		&:hover{
			text-decoration: none;
			color: $blue;
		}
	}
	strong{
		display: block;
	}
}

.user_avatars{
	overflow: auto;
	margin-top: 10px;
	.gravatar{
		margin: 1px 1px;
	}
}

.gravatar{
	float: left;
	margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input{
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation{
	color: #f00;
	ul{
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
/* microposts */

.microposts {
	list-style: none;
	margin: 10px 0 0 0;

	li{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.content{
	display: block;
}
.timestamp {
	color: $grayLight;
}
.gravatar{
	float: left;
	margin-right: 10px; 
}

aside{
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}
/* miscellaneos */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}