<footer class="footer">
	<small>
		<a href="http://kaoslatingamers.com" target="_blank">Kaos Latin Gamers</a> League of Legend DB and Guides by <a href="https://twitter.com/josepdvahn" target="_blank">Jose David Pacheco Valedo</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contacts", contact_path %></li>
			<li><a href="http://kaoslatingamers.com/category/noticias/" target="_blank">News</a></li>
		</ul>
	</nav>
</footer>